# Environments
venv/
env/
.env

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Kestrel Data & State
data/sessions/
data/js/
*.db
*.db-shm
*.db-wal
.oast_logs.json
.oast_payload.txt
resume.cfg

# IDEs & OS
.vscode/
.idea/
.DS_Store

# Configs (Keep the template, ignore the real one containing your keys)
config/settings.yaml
!config/templates/settings.yaml
